$primary-color: #201a20;
$secondary-color: #e5e5e5;

$body-bg-color: $secondary-color;

// Fonts
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$text-color: $primary-color;

// media queries
$mq-small-height: "only screen and (min-width: 460px) and (max-height: 470px)";
