.player-controls {
    $button-dim: 100px;
    $button-font-size: 90px;
    $button-font-color: #3a3a3a;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
        height: $button-dim;
        width: $button-dim;
        font-size: $button-font-size;
        text-align: center;
        color: $button-font-color;
    }
}
