.player {
    // variables
    $bg-color: #fff;
    $border-radius: 20px;

    // layout
    width: 93%;
    height: 95%;
    .player-top {
        height: 57%;
        position: relative;
        .album-art {
            width: 100%;
            height: 100%;
        }
        .time-bar {
            position: absolute;
            right: 0; bottom: 0; left: 0;
            width: 100%;
        }
    }
    .player-bottom {
        height: 43%;
        .song-metadata {
            height: 60%;
        }
        .player-controls {
            height: 40%;
        }
    }

    background: $bg-color;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 0 4px 4px rgba(darken($body-bg-color, 20%), 0.2);
}
